* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-y: hidden;
}

#title {
  width: 25vw;
  height: 27vh;
  transform: rotate(-4deg);
  position: absolute;
  top: 22vh;
  left: 37vw;
}
#load {
  font-size: 35px;
  font-family: sans-serif;
  color: white;
  position: absolute;
  top: 51vh;
  left: 43vw;
}
#loadingBg {
  background-color: rgb(26, 24, 24);
  position: absolute;
  top: 60vh;
  left: 25vw;
  width: 50vw;
  height: 8vh;
  border: 5px solid black;
  overflow: hidden;
}
#loading {
  position: absolute;
  background-color: whitesmoke;
  width: 30vw;
  height: 8vh;
}

#click-me {
  position: absolute;
  top: 40vh;
  left: 45vw;
  width: 10vw;
  padding: 1%;
  font-size: 36px;
  font-family: sans-serif;
  border: 2px solid white;
  background: rgb(19, 18, 18, 0.3);
  border-radius: 20%;
  color: white;
}
#click-me:hover {
  transform: scale(1.2);
}

#petrol {
  position: fixed;
  top: 3vh;
  left: 1vw;
  width: 17vw;
  height: 7vh;
  border: 2px solid black;
  overflow: hidden;
  visibility: hidden;
}
#petrol-line {
  position: absolute;
  background-color: rgb(21, 139, 41);
  width: 15vw;
  height: 7vh;
  visibility: hidden;
}
#line {
  border: 1px solid black;
  padding: 2px;
  background-color: gray;
  width: 35%;
  position: absolute;
  top: 4vh;
  left: 35vw;
  border-radius: 10px;
  visibility: hidden;
}
#distance {
  font-size: 30px;
  position: absolute;
  top: 7vh;
  left: 35vw;
  color: white;
  visibility: hidden;
}
